{% extends "main.html" %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
	<div class="row divider">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner">
		<div class="col-md-10 col-md-offset-1 padding-none">
			<h1>{{ category.name }} Books</h1>
			{% if name %}
            {% if category.user_id == user %}
            <a href="{{url_for('editCategory', category_id=category.id)}}">
                <button class="btn btn-primary" id="new-category">
                    Edit Category
                </button>
            </a>
            <a href="{{url_for('deleteCategory', category_id=category.id)}}">
                <button class="btn btn-danger" id="new-category">
                    Delete Category
                </button>
            </a>
			{% endif %}
			<a href="{{url_for('searchResults')}}">
				<button class="btn btn-success" id="new-category">
					Add New Book
				</button>
			</a>
			{% endif %}

		</div>
		<div class="col-md-2 col-md-offset-1 padding-none">
			{% if name %}
			<figure class="user">
				<img class="creator_img" src="{{ picture}}">
				<figcaption>{{ name }} <a href="{{url_for('gdisconnect')}}">Logout</a></figcaption>
			</figure>
			{% else %}
			<a href="{{url_for('showLogin')}}">Click Here to Log in </a>
			{% endif %}
		</div>
	</div>
	
	<div class="row">
		<div class="flash">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class="alert alert-info">
						{% for message in messages %}
							 <li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	</div>
	{% if books !=[] %}	
    <div class="row books">
			<div class="col-lg-10 col-md-12 row">
				<div class="col-md-10 d-none d-lg-block"><h3>Titles</h3></div>
				<div class="col-md-2 d-none d-lg-block"><h5>Added by</h5></div>
					{% for b in books %}
						<div class="book-row col-md-12 row">
							<div class="book-info col-md-9">
								<a href="{{url_for('previewBook', category_id=category.id , book_id=b.id)}}"><h4>{{b.title}}</h4></a>
								<h5>ISBN: {{b.isbn}}</h5>
								{% if name %}
								{% if b.user_id == user %}
								<a href="{{url_for('deleteBook', book_id=b.id)}}" class="btn btn-danger">
										Delete Book
								</a>
								{% endif %}
								{% endif %}
							</div>
							<div class="book-space col-md-1"></div>
							<div class="book-user col-md-2">
								<img class="creator_img" src="{{b.user.picture}}">
								<h6>{{b.user.name}}</h6>
							</div>
						</div>
					{% endfor %}
			</div>
    </div>
    {% else %}
    <div>
        <div class="col-md-10 row">
            <h4>No Books added for this category yet.</h4>
        </div>
    </div>
	{% endif %}
{% endblock %}