{% extends "main.html" %}
{% block content %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner book">
		<div class="col-md-10 col-md-offset-1 padding-none">
			<h1>{{ category.name }} Books</h1>
			{% if name %}
            {% if category.user_id == user %}
            <a href="{{url_for('editCategory', category_id=category.id)}}">
                <button class="btn btn-primary" id="new-category">
                    <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Edit Book Category
                </button>
            </a>
            <a href="{{url_for('deleteCategory', category_id=category.id)}}">
                <button class="btn btn-danger" id="new-category">
                    <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Delete Book Category
                </button>
            </a>
			{% endif %}
			<a href="{{url_for('searchResults')}}">
					<button class="btn btn-success" id="new-category">
						<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add New Book
					</button>
			</a>
			{% endif %}

		</div>
		<div class="col-md-2 text-right">
			{% if name %}
			<figure class="user">
				<img class="user_img" src="{{ picture}}">
				<figcaption>{{ name }} <a href="{{url_for('gdisconnect')}}">Logout</a></figcaption>
			</figure>
			{% else %}
			<a href="{{url_for('showLogin')}}">Click Here to Log in </a>
			{% endif %}
		</div>
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			
		</div>
		<div class="col-md-7"></div>
	</div>
	<div class="row">
		<div class="flash">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							 <li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	</div>
	{% if books !=[] %}	
    <div class="row">
			<div class="col-md-10 row">
				<div class="col-md-8"><h2>Titles</h2></div>
				<div class="col-md-2"><h3>Added by</h3></div>
					{% for b in books %}
							<div class="book-item col-md-7">
								<a href="{{url_for('previewBook', category_id=category.id , book_id=b.id)}}"><h4>{{b.title}}</h4></a>
								<h5>ISBN: {{b.isbn}}</h5>
								{% if name %}
								{% if b.user_id == user %}
								<a href="{{url_for('deleteBook', book_id=b.id)}}">
									<button class="btn btn-default" id="new-category">
										<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Delete Book
									</button>
								</a>
								{% endif %}
								{% endif %}
							</div>
							<div class="book-item col-md-1"></div>
							<div class="book-item col-md-2">
								<img class="creator_img" src="{{b.user.picture}}">
								<h6>{{b.user.name}}</h6>
							</div>
					{% endfor %}
			</div>
    </div>
    {% else %}
    <div>
        <div class="col-md-10 row">
            <h4>No Books added for this category yet. 
				{% if name %}
				<a href="{{url_for('searchResults')}}">Add a Boook</a>
				{% endif %}
			</h4>
        </div>
    </div>
	{% endif %}
{% endblock %}