<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block headscript %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <title>{% block title %}{% endblock %}</title>
	</head>
	<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{url_for('showCategories')}}">Library</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in categories %}
                        <a class="dropdown-item" href="{{url_for('showBooks', category_id = category.id)}}">{{category.name}}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    {% if not name %}
                    <a class="nav-link" href="{{url_for('showLogin')}}">Login</a>
                    {% endif %}
                    {% if name %}
                    <a class="nav-link" href="{{url_for('gdisconnect')}}">Logout</a>
                    {% endif %}
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('searchResults')}}">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Book Title or ISBN" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search for Book</button>
                </form>
            </div>
            </nav>
		<div class="container">
			{% block content %}
            {% endblock %}
        </div>
        <!--Footer-->
        <footer class="footer">
                <!--Copyright-->
                <div class="container text-center text-muted">
                    © 2018 Copyright:
                    <a href="https://zlateff.com"> Ivan Zlatev </a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-github-square"></i></a>
                </div>
        <!--/.Copyright-->
        </footer>
        <!--/.Footer-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
</html>