{% extends "main.html" %}
{% block content %}
    <div class="row divider">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner">
		<div class="col-md-10 col-md-offset-1 padding-none">
			<h1>{{title}}</h1>
        </div>
        <div class="col-md-2 col-md-offset-1 padding-none">
            {% if not name %}
            <a href="{{url_for('showLogin')}}">Click Here to Log in </a>
            {% endif %}
            {% if name %}
            <figure class="creator">
                <img class="creator_img" src="{{ picture }}">
                <figcaption>{{ name }} <a href="{{url_for('gdisconnect')}}">Logout</a></figcaption>
            </figure>
            {% endif %}
        </div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-1 padding-top">
            <img src="{{ cover }}">
            <h4>Written by:</h4>
            {% for author in authors %}
            <h5> {{ author }} </h5>
            {% endfor %}
            {% if bookadded != None %}
                <h4>Added to the Library by:</h4>
                <img class="creator_img" src="{{bookadded.user.picture}}">
                <h6>{{bookadded.user.name}}</h6>
            {% else %}
                {% if name %}
                    <form action="{{ url_for('newBook', google_id = google_id)}}" method = "post">
                        <div class="form-group">
                            <label for="category">Add to Category:</label>
                            <select id="category" name="category_id">
                            {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}}</option>
                            {% endfor %}
                            </select>
                            <input type="hidden" name="google_id" value="{{google_id}}">
                            <input type="hidden" name="title" value="{{title}}">
                            <input type="hidden" name="isbn" value="{{isbn}}">
                            <div class="padding-bottom"></div>
                            <button type="submit" class="btn btn-success" id="submit" type="submit">
                            Add Book</button>
                        </div>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-6 col-md-offset-1 padding-top">
            <p>{{ description }}</p>
        </div>
	</div>
{% endblock %}