{% extends "main.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
{% include 'header.html' %}
	<div class="row banner">
		<div class="col-md-10 padding-none">
			<h1>{{book.title}}</h1>
        </div>

        <div class="col-md-2 col-md-offset-1 padding-none"></div>
    </div>
    
	<div class="row">
		<div class="col-md-3 col-md-offset-1 padding-top">
            <img src="{{ cover }}">
            <h4>Written by:</h4>
            {% for author in authors %}
            <h5> {{ author }} </h5>
            {% endfor %}
            <p>
                <h4>Added by:</h4>
                <img class="creator_img" src="{{creator.picture}}">
				<h6>{{creator.name}}</h6>
            </p>
        </div>

        <div class="col-md-6 col-md-offset-1 padding-top">
            <p class="mb-0">{{ description }}</p>
        </div>

        <div class="col-md-4 padding-top"></div>
        
        <div class="col-md-2 padding-top backlink">
           <a href="{{url_for('showBooks', category_id = book.category_id)}}">Back to Category</a>
        </div>
	</div>
{% endblock %}