html {
    position: relative;
    min-height: 100%;
}

body {
	margin-bottom: 60px;
	background: #f7f7f7;
}

.banner {
    padding: 20px;
}

.books {
    padding: 20px;
}

.book-search {
    padding: 20px;
}

#search-label {
    font-weight: bold;
    padding-right: 10px;
}

.book-row {
    margin-bottom: 10px;
}

.creator_img {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

#google-sign {
    text-align: center;
    margin-top: 20px;
}

#signinButton {
    margin: 40px;
}

.flash ul {
    list-style-type: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    line-height: 60px;
    background-color: #eee;
}

.fab {
    font-size: 1.7em;
    padding-left: 20px;
}


.category-list a {
    position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: rgb(48, 93, 241);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

.category-list a:hover,
.category-list a:focus {
	outline: none;
}

.category-list a {
	padding: 0 20px;
	height: 45px;
    line-height: 45px;
    margin-left: 0;
}

.category-list a::before,
.category-list a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: rgb(1, 24, 73);
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.category-list a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.category-list a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.category-list a:hover::before,
.category-list a:hover::after,
.category-list a:focus::before,
.category-list a:focus::after {
	opacity: 1;
}

.category-list a:hover::before,
.category-list a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.category-list a:hover::after,
.category-list a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}

.book-row {
    border-bottom: 2px solid gray;
    padding: 10px;
}

.book-user {
    text-align: center;
}

#addbookform {
	padding: 20px;
	background-color: #f6f6f6;
	text-align: center;
}

.formbutton {
	margin-top: 40px;
}

.backlink {
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (max-width: 768px) {
    .user {
        padding-top: 10px;
    }
}